
* {
  font-family: "Comfortaa", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  transition: all 0.3s ease-in-out;
}
  
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: rgb(171, 216, 253);
}

::-webkit-scrollbar-thumb {
  background: #004fa3;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-corner {
  background: #ffffff;
}
.container {
  overflow: auto;
  background-color: #022d5e;
  color: rgb(110, 179, 232);
  font-size: 2vh;
}

nav {
  float: right;
}

.logo img {
  float: left;
}
.foto1 {
  width: 12em;
  float: left;
  margin-left: 2em;
}

ul li {
  display: inline-block;
  padding: 1.7vh;
  font-size: 2vh;
  margin-top: 2.5em;
}
a {
  text-decoration: none;
  color: rgb(134, 189, 231);
}
a:hover {
  color: rgb(255, 255, 255);
}

#ul:hover {
  transition: 0.3s;
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}
#ul3:hover {
  transition: 0.3s;
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}

#ul3 {
  margin-right: 4em;
}



ul li:hover {
  color: rgb(255, 255, 255);
}
.footer {
  width: 100%;
  padding: 100px 15%;
  background: #414141;
  color: #efefef;
  display: flex;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
  margin-left: 150px;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}
.logofot {
  width: 15em;
  float: none;
}
.icon {
  width: 2.5em;
  margin-top: 2em;
}
  .footer {
    width: 100%;
    padding: 100px 15%;
    background: #414141;
    color: #efefef;
    display: flex;
  }
  .footer div {
    text-align: center;
  }
  .col-2 {
    flex-grow: 2;
    margin-left: 150px;
  }
  .footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
  
  }
  .logofot {
    width: 15em;
    float: none;
  }
  #conteudo01 {
    padding: 5vh;
    padding-top: 0;
    padding-bottom: 32vh;
    font-size: 2vh;
    background-color: rgb(41, 57, 101);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row; 
}
h1 {
    font-size: 10vh;
    margin-top: 0;
    padding-top: 7vh;
    background-color: rgb(41, 57, 101);
    color: white;
    padding-left: 10vh;
    padding-bottom: 3vh;
}
#p1 {
  margin-top: 4vh;
  margin: 7vh;
  padding: 2vh;
 padding-left: 0%;
 font-size: 3vh;
 margin-left: 0;
}
.p {
    margin-top: 5vh;
    text-align: left;
    font-size: 2.5vh;
}

.img1 {
    text-align: center;
    width: 65vh;
    height: 40vh;
    border-radius: 1vh;
}
#conteudo02 {
    padding: 5vh;
    padding-top: 0;
    margin-top: 0;
    margin-left: 6vh;
    font-size: 2vh;
    background-color: rgb(255, 255, 251);
    color: rgb(67, 67, 67);
    display: flex;
    flex-direction: row;
}
#local {
  margin-left: 20vh;
  text-align: center;
}
#p2{
 padding: 2vh;
 padding-left: 0%;
 margin: 1vh;
 font-size: 2.5vh;
 margin-left: 0;
}
h2 {
  font-size: 10vh;
  margin-top: 0;
  padding-top: 7vh;
  color: rgb(67, 67, 67);
  padding-left: 10vh;
  padding-bottom: 0vh;
}
#p3{
  width: 50%;
}