* {
    font-family: "Comfortaa", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  * {
    transition: all 0.3s ease-in-out;
  }
    
  .container {
    overflow: auto;
    background-color: #022d5e;
    color: rgb(110, 179, 232);
    font-size: 2vh;
  }
  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(171, 216, 253);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #004fa3;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
  }
  
  ::-webkit-scrollbar-corner {
    background: #ffffff;
  }
  nav {
    float: right;
  }
  
  .logo img {
    float: left;
  }
  .foto1 {
    width: 12em;
    float: left;
    margin-left: 2em;
  }
  
  ul li {
    display: inline-block;
    padding: 1.7vh;
    font-size: 2vh;
    margin-top: 2.5em;
  }
  a {
    text-decoration: none;
    color: rgb(134, 189, 231);
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  #ul:hover {
    transition: 0.3s;
    transform: scale(1.2);
    color: rgb(255, 255, 255);
  }
  #ul3:hover {
    transition: 0.3s;
    transform: scale(1.2);
    color: rgb(255, 255, 255);
  }
  
  #ul3 {
    margin-right: 4em;
  }
  
  
  
  #ul #li:hover {
    color: rgb(255, 255, 255);
  }
  .footer {
    width: 100%;
    padding: 100px 15%;
    background: #414141;
    color: #efefef;
    display: flex;
  }
  .footer div {
    text-align: center;
  }
  .col-2 {
    flex-grow: 2;
    margin-left: 150px;
  }
  .footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  .col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
  
  }
  .logofot {
    width: 15em;
    float: none;
  }
  .icon {
    width: 2.5em;
    margin-top: 2em;
  }
.inicio {
  text-align: center;
  padding: 7vh;
}
.inicio p {
  font-size: 2.5vh;
  
  margin: 7vh;
  color: #7a7a7a;
}

.inicio h1 {
  font-size: 7vh;
  margin-bottom: 4vh;
  margin-left: 30vh;
  margin-right: 30vh;
 font-weight: bold; 
}
.imgmao {
  width: 70%;
 height: 35vh;    
}
.button {
 
  background-color: transparent;
  border: 2px solid rgb(250, 186, 9);
  border-radius: 4px;
  display: inline-block;
  color: rgb(245, 197, 6);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(253, 255, 127, 0.225);
  }
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text:last-child {
  color: #474747;
}

.rollover:hover .roll-text:first-child {
  margin-top: -40px;
}

.autismo {
  text-align: left;
  margin-left: 3vh;
}
#h2Um {
  font-size: 5vh;
 margin: 2vh;
}
.p-autismo { 
  font-size: 2vh;
  color: #7a7a7a;
}
#autismo-p2 {
  margin-right: 50vh;
}
.ul{
  display: flex;
  flex-direction: column;
  color: #7a7a7a;
}

.li1 {
  display: flex;
  flex-direction: column;
  padding-top: 1vh;
  margin-top: 1;
  margin-bottom: 1;
  text-align: left;
  justify-items: center;
}
#li-final {
  padding-bottom: 3vh;
}
.colunas {
  text-align: left;
  
}
.colunas h2{
  text-align: center;
  
}
.coluna1 {
  display: flex;
  flex-direction: row;

}
.sintomas {
  padding: 6vh;
  padding-top: 4vh;
  padding-bottom: 2vh;
  margin: 10vh;
  border: solid 3px rgb(242, 242, 93) ;
  border-radius: 3vh;
  background-color: #0353a9;
  color: #ffffff;
}
.recomendacoes {
  padding: 13vh;
  padding-top: 4vh;
  margin: 10vh;
  border: solid 3px rgb(229, 229, 91) ;
  border-radius: 3vh;
}
.coluna2 {
  display: flex;
  flex-direction: row;
  margin: 3vh;
}
.tratamento {
  padding-top: 3vh;
  padding-left:1vh;
  padding-right: 1vh;
  margin: 6vh;  
  margin-left:14vh;
  border: solid 3px rgb(245, 245, 99) ;
  border-radius: 3vh;
}
#pTratamento {
  text-align: center;
  padding: 2vh;
  font-size: 1.6vh;
}

.diagnostico {
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 3vh;
  margin: 6vh;
  margin-right: 3vh;
  border: solid 3px rgb(237, 237, 91) ;
  border-radius: 3vh;
  font-size: 2vh;
}

#pDiagnostico {
  margin: 3vh;
}