.content {
  margin-bottom: 1em;
}

* {
  font-family: "Comfortaa", cursive;
  margin: 0%;
  box-sizing: border-box;
}
* {
  transition: all 0.3s ease-in-out;
}

body {
  display: grid;
}

.container {
  clear: both;
  overflow: auto;
  background-color: #7891e2;
  color: rgb(33, 55, 118);
  font-size: 2vh;
}

nav {
  float: right;
}

.logo img {
  float: left;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  margin-top: 2em;
 
}
a {
  text-decoration: none;
  color: rgb(7, 27, 80);
}
a:hover {
  color: rgb(255, 255, 255);
}

#ul1:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
#ul2:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
#ul3:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
#ul4 {
  margin-right: 4em;
}
#ul4:hover {
  transition: 0.3s;
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}

ul li:hover {
  color: rgb(255, 255, 255);
}
.footer {
  text-align: start;
  background-color: #7b90a1;
  color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0.5em;
}

main {
  margin-bottom: 35.2vh;
}

.foto1 {
  width: 12em;
  float: left;
  margin-left: 2em;
}
.redes1 {
  margin-top: 1.5em;
}
.contentf {
  grid-column: 1/2;
  margin-left: 4em;
}
.logo {
  width: 8em;
}
#logo1 {
  width: 9em;
  margin-right: 62em;
}
li {
  margin-bottom: 2em;
}
nav {
  display: flex;
}
main {
  margin-bottom: 35.2vh;
}

.icon {
  width: 2.5em;
}
.redes {
  grid-column: 2/3;
  margin-top: 1em;
  margin-left: 10em;
}
.contentf {
  grid-column: 1/2;
  margin-left: 4em;
}
.logo {
  width: 8em;
}
h1 {
  margin-bottom: 0.2em;
  margin-top: 1em;
  margin-left: 0.5em;
  text-align: center;
  font-size: 8vh;
}

h2 {
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 0.7em;
}

#p1 {
  margin-bottom: 0.8em;
  font-size: 3vh;
}

#h2Um {
  text-align: center;
  font-size: 4vh;
}

#h2Dois {
  text-align: center;
  font-size: 6vh;
}

.footer {
  margin-top: 25vh;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
  margin-left: 150px;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
.logofot {
  width: 15em;
}
.txt {
  margin: 0.5em;
  margin-left: 1.5em;
}
h3 {
  margin-left: 1.1em;
  margin: 0.6;
  margin-top: 0.5;
}

#text01 {
  text-align: center;
  font-size: 2vh;

}

#servico01 {
  border: solid 1px black;
  text-align: center;
}
#servico02 {
  border: solid 1px black;
  text-align: center;
}

#servico03 {
  border: solid 1px black;
  text-align: center;
}